<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizz</title>
    <link rel="stylesheet" href="static/assets/styles.css">
  </head>
<body>
    <a href="{{ url_for('take') }}"><div id="take" class="home_options" style="font-size:2.5rem;">Take Quiz</div></a>
    <a href="{{ url_for('make') }}"><div id="make" class="home_options" style="font-size:2.5rem;">Make Quiz</div></a>
</body>
</html>